.navbar-brand {
  font-family: 'Nunito', sans-serif;
}

.nav-link {
  font-weight: 500;
}

.jumbotron {
  padding-top: 8rem;
  background-color: #e4e9be;
}

#projects {
  background-color: #e4e9be;
}

.colc {
  font-family: 'Nunito', sans-serif;
}

.cols {
  font-family: 'Nunito', sans-serif;
}

.colp {
  font-family: 'Nunito', sans-serif;
}

.colr {
  font-family: 'Nunito', sans-serif;
}

.cola {
  font-family: 'Nunito', sans-serif;
}

.card {
  border: none;
  box-shadow: 0 1rem 1rem rgba(145, 145, 145, 0.175) !important;
}

.resume_data {
  display: flex;
}

.resume_data .year {
  padding-right: 35px;
  width: 115px;
  position: relative;
}

.resume_data .content {
  padding-left: 35px;
  margin-bottom: 20px;
  width: calc(100% - 115px);
}

.resume_data .year:before {
  content: '';
  position: absolute;
  top: 5px;
  right: 0;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 1px solid #26252d;
  border-radius: 50%;
}

.resume_data .year:after {
  content: '';
  position: absolute;
  top: 17px;
  right: 4px;
  width: 3px;
  height: 90%;
  background: #000;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e3e3;
  margin: 20px 10px;
  border-radius: 50%;
}

.social-icons {
  display: flex;
}

.social-icons i {
  color: 000000;
}

.social-icons a:hover {
  background-color: 000000;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  transition: all ease 0.5s;
}

.contact .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.icon .tombol {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #b4c69a;
  margin: 10px;
  border-radius: 30%;
  box-sizing: 0 5px 15px -5px #00000070;
  overflow: hidden;
  position: relative;
  color: #fff;
}

.tombol i {
  transition: 0.2s linear;
  font-size: 26px;
  line-height: 90px;
}

.icon .tombol:hover i {
  transform: scale(1.3);
  color: #b4c69a;
}

.icon .tombol::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  left: -110%;
  top: 90%;
  transform: rotate(45deg);
  background: #fff;
}

.icon .tombol:hover::before {
  left: -10%;
  top: -10%;
  animation: aaa 0.7s 1;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: -10%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}

section {
  padding-top: 6rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
